button {
  /* margin-top: 10%; */
}

h2 {
  text-align: center;
  font-family: "Barlow Condensed";
}
table {
  margin: 70px 20%;
}
table button a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
}

table {
  box-shadow: 0px 5px 10px rgb(212, 209, 209);
}
.separate {
  border-bottom: 0.5px solid rgb(201, 197, 197);
}
thead {
  box-shadow: 0px 5px 10px rgb(212, 209, 209);
}
th,
td,
tr {
  padding: 1rem 8rem;
  letter-spacing: 0.1em;
  size: 0.7rem;
  width: 30%;
}
/* td button + button a {
    padding: 23px;
  } */
