<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>PHP PROJECT</title>
</head>

<body>





    <ul>

        <li id="estsb" style="float: left;"><a href=#>ESTSB</a></li>
        <li><a href=#>Logiciels</a></li>
        <li><a href=#>Examens</a></li>
        <li><a href=#>TDs</a></li>
        <li><a href=#>TPs</a></li>
        <li><a href=#>Cours</a></li>
    </ul>








</body>

</html>